@inherits LayoutComponentBase

<nav class="sidebar">
    <!-- Nav Component goes here -->
</nav>

<div class="main">
    <div class="top-row px-4">
        <h1>Welcome to the Bug Tracker app!</h1>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
