<h3>All Bugs</h3>

<table>
<thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
    </tr>
</thead>
    @foreach (var bug in Bugs)
    {
        <tr>
            <td>@bug.Id</td>
            <td>@bug.Title</td>
            <td>@bug.Description</td>
            <td>@bug.Priority</td>
        </tr>
    }
</table>

@code {

    [Inject]
    public IBugService BugService { get; set; }

    public List<Bug> Bugs { get; set; }

    protected override void OnInitialized()
    {

        Bugs = BugService.GetBugs().OrderBy(x => x.Priority).ToList();

    }
}
